
body {
	color: white;
	background-color: #442d50;
}

a {
	color: red;
}

a:visited {
	color: pink;
}

input[type=button] {
	color: #442d50;
	background-color: #dddddd;
}

small {
	opacity: 0.4;
}

div#nav-bottom {
	padding-bottom: 1em;
}
